<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container-fluid container">
            <a class="navbar-brand fw-bold" href="{{ url_for('homepage') }}">
                Solicita Lab
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('labs_list') }}">Listar Labs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('solicitar_create') }}">Solicitar Lab</a>
                        </li>
                        {% if current_user.admin %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('labs_create') }}">Criar Lab</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">Sair</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('cadastro') }}">Cadastro</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
