{% extends 'base/base.html' %}

{% block title %}Homepage{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<h1>Auth</h1>
{% if not current_user.is_authenticated %}
    <a href="{{ url_for('login') }}">Login</a>
{% else %}
    <a href="{{ url_for('logout') }}">{{current_user.nome}} - Sair</a>
{% endif %}
<hr>
<h1>Labs</h1>
<ul>
    <li>
        <a href="{{ url_for('labs_create') }}">Criar Laboratório</a>
    </li>
    <li>
        <a href="{{ url_for('labs_list') }}">Lista de Laboratórios</a>
    </li>
</ul>
<hr>
<h1>Solicita</h1>
<ul>
    <li>
        <a href="{{ url_for('solicitar_create') }}">Solicitar laboratório</a>
    </li>
</ul>


{% endblock %}
